.custom-task-event {
    background-color: #555 !important;
    color: white !important;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .task-event {
    display: flex;
    align-items: center;
  }
  
  .task-event input {
    margin-right: 5px;
  }
  